<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamatem.auth">
    <application>
        <activity
            android:name="com.tamatem.auth.LoadingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="game1"
                    android:host="oauth-callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
